*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Varela Round", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    position: relative;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 -15px 15px rgb(255 255 255 / 5%),
        inset 0 -15px 15px rgb(255 255 255 / 5%),
        0 15px 15px rgb(120 120 120 / 30%),
        inset 0 15px 15px rgb(120 120 120 / 30%);
}

#dot {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    background: #a3a3a3;
    border-radius: 50%;
    z-index: 5;
}

.hands {
    position: absolute;
    bottom: 50%;
    left: calc(50% - 5px);
    width: 10px;
    border-radius: 5px;
    transform-origin: bottom;
}

.hands.thick {
    background: #757575;
    opacity: 0.5;
}

#hourHand {
    height: 15vw;
}

#minuteHand {
    height: 25vw;
}

#secondHand {
    left: calc(50% - 1.25px);
    width: 2.5px;
    height: 29vw;
    background: #dc3545;
}

.text {
    position: absolute;
    top: 25%;
    left: calc(50% - 35px);
    width: 85px;
    padding: 5px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background: #f1f1f1;
    color: #262626;
}

@media screen and (min-aspect-ratio: 1/1) {
    #clock {
        width: 60vh;
        height: 60vh;
    }

    #hourHand {
        height: 15vh;
    }

    #minuteHand {
        height: 25vh;
    }

    #secondHand {
        height: 28vh;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
    }

    #clock {
        border-color: #121212;
        box-shadow: 0 -15px 15px rgb(255 255 255 / 5%),
            inset 0 -15px 15px rgb(255 255 255 / 5%),
            0 15px 15px rgb(0 0 0 / 30%), inset 0 15px 15px rgb(0 0 0 / 30%);
    }

    .hands.thick {
        background: #313131;
    }

    .text {
        color: #bbb;
        background: #262626;
    }
}
